<!DOCTYPE html>
<html lang="en" data-user-name="<%= session.user.user_name %>" data-user-level="<%= session.user.level %>">

<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CANTORAL</title>
    <link rel="stylesheet" href="../css/chords.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/results_searching.css">
    <link rel="stylesheet" href="../css/crear_canto.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/pagination.css">
    <link rel="stylesheet" href="../css/lists.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>



