<body>

    <header>
        <div class="logo">
            <a href="/">
                <img src="../images/DABAR_LOGO.png" alt="Ministerio DABAR" srcset="" width="100px">
            </a>
        </div>
        
        <%- include('nav') %>
    </header>
    <section id="main_section">